<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_foodweb_app" >
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Foodlist"
            android:label="Food list"></activity>
        <activity android:name=".donations_expanded"
            android:label=" "
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ViewDonations"
            android:label="View Donations"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".viewNotifications"
            android:label="View Notifications"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".notifications_expanded"
            android:label=" "
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".OrganizationLogin"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrganizationCreate"
            android:label="Create Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrganizationInfo"
            android:label="Organization Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Organizationitems"
            android:label="Restaurant List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonateLogin"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonatorCreate"
            android:label="Create Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonatorInfo"
            android:label="Donator options "
            android:screenOrientation="portrait" />
        <activity
        android:name=".addItem"
        android:label="Add An Item"
        android:screenOrientation="portrait" />
        <activity
            android:name=".viewPickups"
            android:label=" "
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrganizationPickups"
            android:label="Add An Item"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickups_expanded"
            android:label="Add An Item"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:label="Food Web"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>